/*COLOS*/
 $primary-color: #001e61;
 $primary-lighter-color: #5887da;
 $primary-blue-color: #165C7D;

 $nutral-lighter-color: #FFFFFF;
 $color-purple: rgb(113, 89, 193);


  $color-default: #555555;
  $color-green: #36BA9B;
  $color-green-ligth: #7ab352;
  $color-blue: #39AED9;
  $color-yellow: #F5B946;
  $color-red: #D94352;
  $color-strong-red: #c7022d;
  $color-white: #FFFFFF;

  $color-brown-ligth: #3e3b47;
  $color-black-lightes: #363636;

  $hover-color-green: #61DDBC;
  $hover-color-blue: #66D4F1;
  $hover-color-yellow: #FCD277;
  $hover-color-red: #F76C82;
  $hover-duration: 0.3s;
  $hover: #033649;

  $gradient-green: linear-gradient(to right, #42E695 0%, #3BB2B8 50%, #42E695 100%);
  $gradient-blue: linear-gradient(to right, #17EAD9 0%, #6078EA 50%, #17EAD9 100%);
  $gradient-red: linear-gradient(to right, #622744 0%, #C53364 50%, #622744 100%);
  $gradient-yellow: linear-gradient(to right, #FCE38A 0%, #F38181 50%, #FCE38A 100%);

  $primary-color-donation: #00467d;
  $primary-color-ligth-donation: #008fd5;

  $alert-color: #fdd13a;
  $error-color: #da1e28;
  $sucess-color: #72fc9c;

  $lightest-color: #aab1b8;
  $lightes-color: #b2adaa;
  $lightes-dark: #dbdbdb;

  $secundary-color-dark: #f4f4f9;
  $font-icon: 'FontAwesome';
