<aside class="sidenav">
  <div>
    <img src="../../../../assets/images/icons8-angularjs.svg" alt="logo">
  </div>
  <ul>
    <li>
      <img src="../../../../assets/icones/menu.png" alt="menu">
    </li>
    <li>
      <img src="../../../../assets/icones/lupa.png" alt="lupa">
    </li>
    <li>
      <img src="../../../../assets/icones/estrela.png" alt="estrela">
    </li>
    <li>
      <img src="../../../../assets/icones/comment.png" alt="comment">
    </li>
    <li>
      <img src="../../../../assets/icones/option.png" alt="option">
    </li>
    <li>
      <img src="../../../../assets/icones/bank.png" alt="bank">
    </li>
  </ul>
</aside>