.main{
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .container{
    display: flex;
    flex-direction: row;
    .wrapper{
      flex: 1;
      flex-direction: column;
    }
  }

  &_content{
    flex: 1;
    background-color: #E7EEF1;
    height: 78.2vh;
  }
  .menu-left{

  }
}
