<section class="registartion">
  <div class="progress-bar">
    <app-progress-bar [step]="currentStep" [steps]="totalSteps"></app-progress-bar>
  </div>
  <div class="title">
    <h1>Informe o CPF do futuro cooperado (a)</h1>
    <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente.</p>
    <p> Digite apenas os números (sem pontos ou traços).</p>
  </div>
  <div>
    <label for="cpf">CPF</label>
    <input type="text" placeholder="000.000.000-00">
    <button>Consultar por CPF</button>
  </div>
</section>